pystac-client
stackstac
odc-stac
xarray
dask
geopandas
rioxarray
numpy
pandas
scipy
matplotlib
git+https://github.com/konishon/nepal-palika-finder.git
bottleneck
tqdm
planetary-computer
geemap
earthengine-api
pycrs
scikit-learn
hydra-core
omegaconf
transformers
seaborn
geedim
geoai-py
segmentation-models-pytorch
albumentations
rasterio
